* text=auto eol=lf

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.tsv text eol=lf

*.ipynb linguist-language=JSON
